#root {
    width: 100%;
    overflow: hidden;
}
.nav-default {
    width: 100%;
    color: #212121;
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}
.nav-header{
    position: absolute;
}
.nav-header {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}
.nav-body {
    width: 100%;
    height: 50px;
    padding: 15px 70px 15px 40px;
    position: relative;
}
.nav-header-body-left-icon .nav-header-body-right-icons{
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
     width: 30px;
    left: 15px;

}

.nav-icons{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: 50%;
    background-size: 80%;
    background-repeat: no-repeat;
}

.nav-header-body-right-icons {
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    right: 15px;
}
.nav-right-cart-icon {
    margin-left: 0;
    position: relative;
}
.cart-bag-icons {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.product-image {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 80px);
    background: #ececec;
    padding-bottom: 60px;
}
.product-image-view {
    width: 100%;
    height: auto;
    position: relative;
}
.image-carousel {
    width: 100%;
    padding-bottom: 130%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.image-style {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.body-color {
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #999;
}
.image-position {
    width: 100%;
    height: 100%;
    position: relative;
}
.Carousel-list {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background-position: 50%;
    background-repeat: no-repeat;
}
.slider-frame{
        height: 500px;
}
.slider-list{
    height: auto!important;
}

.slider-slide{
    position:sticky!important;
}
.brand-main {
    width: 100%;
    height: auto;
    padding: 0 15px;
}
.brand-main-title, .brand-title {
    width: 100%;
    height: auto;
    display: inline-block;
}
.brand-details {
    width: 65%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

a {
    text-decoration: none!important;
    color: initial!important;
}
.product-price {
    width: 35%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}
.product-seller-price {
    color: #181818;
    font-size: 16px;
    font-family: semibold;
    margin-bottom: 10px;
    white-space: nowrap;
}
.product-name {
    font-size: 14px;
    line-height: 22px;
    font-family: light;
    font-weight: inherit;
}
.product-name, .product-brand-name {
    width: 100%;
    height: auto;
    display: inline-block;
    color: #181818;
    font-weight: bold;
}
.product-mrp-price, .product-seller-price {
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: right;
    font-weight: bold;
}
.product-brand-name {
    font-size: 20px;
    font-family: semibold;
    margin-bottom: 10px;
}
.product-mrp-price {
    color: #8d8d8d;
    font-size: 14px;
    font-family: regular;
    margin-bottom: 7px;
}
._3Ksu1urMkvjd1amuOOQ1vR {
    text-decoration: line-through;
}
.product-discount-price {
    width: auto;
    color: #ff1744;
    padding-left: 5px;
}

h1, h2, h3 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
}
.nav-scroll-header {
    width: 100%;
    height: 50px;
    padding: 15px 80px 15px 45px;
    position: fixed;
    background: #000;
}
.nav-productName {
    width: 100%;
    height: 20px;
    color: #fff;
    font-size: 13px;
    font-family: regular;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    line-height: 20px;
}
.nav-left-arrow-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 15px;
}
.nav-position {
    position: relative;
}
.nav-order-history{
    width: auto;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
}
.FmtLI0rfca2bao8yyGYk6 {
    margin-left: 0;
    position: relative;
}
._1emAkU_WoZFA_EkU6mxO1G {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.product-delivery {
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #212121;
    font-family: regular;
    margin-top: 20px;
    line-height: 22px;
    padding: 0 15px;
}
.product-cash-on-delivery {
    width: 100%;
    height: auto;
    font-family: light;
}
.root-category {
    width: 100%;
    height: auto;
    padding: 20px 0;
    background-color: #ececec;
}
.select-size {
    width: 100%;
    height: auto;
    font-size: 14px;
    font-family: semibold;
    position: relative;
    margin-bottom: 20px;
    padding: 0 15px;
    font-weight: bold;
}
.select-size-details {
    width: auto;
    position: absolute;
    top: -5px;
    right: 20px;
}
.select-guide {
    width: auto;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: inline-block;
    padding-bottom: 5px;
    color: #212121;
    font-size: 14px;
    font-family: regular;
    user-select: none;
}
.select-guide-line {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #212121;
}
.select-size-list-details {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.select-free-size {
    width: 100%;
    height: auto;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin-bottom: -20px;
    padding-bottom: 20px;
}
.select-size-style {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}
.select-font-size {
    width: auto;
    min-width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 15px 0;
    margin: auto;
    -webkit-box-shadow: inset 0 0 0 2px #fff;
    box-shadow: inset 0 0 0 2px #fff;
    position: relative;
    background-color: #fff;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.select-size-numbers {
    text-align: center;
    font-size: 14px;
    color: #212121;
    font-family: semibold;
    width: auto;
    height: 20px;
    line-height: 20px;
    padding: 0 15px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.product-variations {
    width: 100%;
    height: auto;
    padding: 20px 0;
    background-color: #ececec;
}
.product-variations-options {
    width: 100%;
    height: auto;
}
.product-variations-color {
    width: 100%;
    height: auto;
    font-size: 14px;
    font-family: semibold;
    padding: 0 15px;
    margin-bottom: 15px;
}
.product-color-view {
    width: 100%;
    height: auto;
}
._1qE10e_-Xi0nDnsm2Up9iF {
    width: 100%;
    height: auto;
    overflow: hidden;
}
._2i-VLoI3FkUkYRmMU5GdL4 {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin-bottom: -20px;
    padding-bottom: 20px;
}

._2i-VLoI3FkUkYRmMU5GdL4 {
    width: 100%;
    height: auto;
    white-space: nowrap;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.product-color-style {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}
.product-hexa-main-color {
    width: 50px;
    margin: auto;
    padding-bottom: 100%;
    position: relative;
}
.product-hexa-color {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    padding-bottom: 2px;
}
.product-hexa-color-code {
    width: 100%;
    height: 100%;
    position: relative;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.22), inset 0 2px 4px 0 rgba(0,0,0,.4);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.22), inset 0 2px 4px 0 rgba(0,0,0,.4);
    overflow: hidden;
    border-radius: 50%;
}

    

.product-hexa-color-opacity {
    opacity: 1;
    text-align: center;
    font-family: semibold;
    position: absolute;
    width: 40%;
    height: 40%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    line-height: 20px;
    display: inline-block;
    background: url(https://pwassets.tatacliq.com/static/media/tick.f38ce263.svg)no-repeat;
    background-position: 50%;
    background-size: contain;
    opacity: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.product-msg{
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px;
    background-image: linear-gradient(131deg,#fd2c7a,#ff7255);
    margin-top: 20px;
}
.product-offer-msg {
    width: 100%;
    height: auto;
    font-size: 14px;
    font-family: light;
    color: #fff;
    text-align: left;
    position: relative;
}
.product-save-items {
    width: 100%;
    height: 60px;
    background: #fff;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 10;
    display: inline-block;
}
.product-save-bag-views {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.save-cart {
    width: 100%;
    height: 60px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.save-cart-products {
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    margin-right: 10px;
}

.cart-font {
    width: auto;
    line-height: 20px;
}
.cart-font, .save-cart-products {
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.parent{
  overflow-y: auto;
}

.check-delivery {
    width: 100%;
    height: auto;
    padding: 0 130px 0 15px;
    position: relative;
    margin: 20px 0;
}
.check-pincode {
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #000;
}
.check-delivery-option {
    width: 120px;
    height: auto;
    top: 0;
    right: 20px;
    text-align: right;
    position: absolute;
}
.select-check-pincode {
    width: auto;
    display: inline-block;
}

._334CJHb5qzNgnA_p0FkQYm {
    width: auto;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: inline-block;
    padding-bottom: 5px;
    color: #212121;
    font-size: 14px;
    font-family: regular;
    user-select: none;
}
._3so0JbgPUCDHo8OQrv_L0Y {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #212121;
}
.delivery-options {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 0;
}
.product-delivery-details {
    width: 100%;
    height: auto;
    padding-right: 45px;
    position: relative;
    background: #fff;
}
.product-delivery-mode {
    width: 100%;
    height: auto;
}
.product-delivery-modes-atp {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 5px 0 5px 70px;
    display: inline-block;
    position: relative;
}
.delivery-icons {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.delivery-types {
    width: 100%;
    height: auto;
    font-family: semibold;
    font-size: 14px;
    line-height: 25px;
    display: inline-block;
    font-weight: bold;
}
.delivered-dates {
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 20px;
     font-family: light;
    margin-bottom: 5px;
}

.product-seller-name, .product-collapse {
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.product-seller-winning-seller {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 15px 40px 15px 10px;
    position: relative;
}
.product-sold-by {
    font-size: 14px;
    line-height: 22px;
    font-family: regular;
}

.span-sold-by {
    font-family: semibold;
    font-weight: bold;
}

.product-collapse {
    background: #fff;
    padding: 0 15px;
}
.collapsible {
    width: 100%;
    height: auto;
}
.collapse-content {
    width: 100%;
    height: 50px;
    position: relative;
}
.collapse-body {
    height: auto;
    color: #212121;
    font-size: 14px;
    line-height: 50px;
    font-family: regular;
    text-align: left;
        transition: .3s;
}
.collapse-description {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.down-arrow-icon {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-image: url(https://pwassets.tatacliq.com/static/media/down-arrow.9b5a45a2.svg);
    position: absolute;
    background-size: auto 14px;
    background-repeat: no-repeat;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-position: 50%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
._2gPAUw-XG7eP92Q776_L0U {
    height: auto;
    font-family: light;
    padding-bottom: 15px;
}
._2gPAUw-XG7eP92Q776_L0U, ._2WQngBq6SJ4IdIe2uofqFd {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
    margin-top: 10px;
}
.product-arrow-icon, .product-review-details {
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
.product-arrow-icon {
    width: 100%;
}
.product-review-details {
    width: 40%;
}
.tFBdL9aRvNTR30X8yTIQj {
    width: 100%;
    height: auto;
    line-height: 25px;
    display: inline-block;
}
.RyzFpxs9JBGCfNaJPkFXc {
    width: auto;
    height: auto;
    display: inline-block;
}
.product-review-stars {
    width: 15px;
    margin-right: 5px;
    display: inline-block;
}
.product-review-yet {
    width: 60%;
    height: auto;
    display: inline-block;
    padding-left: 5px;
    vertical-align: middle;
    color: #212121;
    font-size: 14px;
    font-family: regular;
}
.product-arrow-icon {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    right: 25px;
    bottom: 0;
    margin: auto;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
._1bhlTE9d7GniOkiRE3zXhJ {
    background-color: #212121;
   
    box-shadow: inset 0 0 0 2px #000;
}
._3S5er6rKz1JBlb8agJfqwx {
    color: #fff;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}