._2BbVWa0BDWyQTZCASn8e-g {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
._2H6PuybUDcxxbCi5TSCswS {
    width: 100%;
    height: 50px;
    background-color: #212121;
}
._3kQp_SmZR8CRxkXTMOzTzY {
    padding: 10px 40px 10px 75px;
}
._3bjYJ7JDx3fShbxgMOV8Up {
    width: 100%;
    height: 50px;
    position: relative;
    padding: 10px 40px;
}
._2AZ_4Z841izKOp9wiFDhvs {
    width: auto;
    height: auto;
    position: absolute;
    left: 15px;
    top: 17px;
}
._3MS696tz4Ii3vM5b6MwBkL {
    position: relative;
}
._2VmboXpEND_dvkTUvRwISU {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: 50%;
    background-size: 80%;
    background-repeat: no-repeat;
}
._3sCHM6kLD8umeSiXjoBl4U {
    left: 40px;
}
._3EDRi1uE__ZEDHo22ng4Xc {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
   
}
._3MS696tz4Ii3vM5b6MwBkL {
    position: relative;
}
._22yhFw8bwvKGcr_ZRYohjG {
    position: absolute;
    top: 17px;
    right: 17px;
    width: auto;
    height: auto;
}
._2Js86rXK14mnf3FiLqHsYz {
    width: 100%;
    height: 100%;
    position: relative;
}
._1uY5iNEcVA5zrN7bdJBN4S {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 14px;
    font-family: semibold;
    text-align: center;
    line-height: 32px;
    -webkit-margin-before: inherit;
    -webkit-margin-after: inherit;
    font-weight: inherit;
}
._2Js86rXK14mnf3FiLqHsYz {
    width: 100%;
    height: 100%;
    position: relative;
}
._3NW0CEkydSg1ZjVWF3KlaZ {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}
._1IRjiBTmTwIl-Ch86RbGHb {
    width: 100%;
    height: auto;
    background-color: #ececec;
    padding-top: 50px;
    position: relative;
}
._1LvhPBco7xVNOKdmJiumkP {
    width: 100%;
    height: auto;
}
.afv4MIi5WXKZVND7ana-Y {
    width: 16px;
    height: 16px;
    top: 0;
    bottom: 0;
    left: 17px;
    margin: auto;
    position: absolute;
}
._3yuH_eOdVkdvMytHE7skUP {
    width: auto;
    height: auto;
}
._3u8YVuMWyxlvTfpUskxgWP {
    color: #fff;
}
._2eE3GFJFXoYzYDxLJSiQHk {
    width: 100%;
    height: auto;
    position: relative;
}
._26te1Kp4kxwtlBGHe9K-j1 {
    border: 1px;
    border-color: #d2d2d2;
    border-style: solid;
}
._2wBdAJ6BFwpXejbzsJBPO0 {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 10px;
    color: #212121;
    background-color: transparent;
}
input[type=text]{
    border: 0px;
    border-radius: 0px;
    background-color: #212121;
}
._2wBdAJ6BFwpXejbzsJBPO0{
    color: #fff;
}
input[type=text]:focus{
    border: 0px;
}
#searchDiv{
  display: none;
}